{% extends 'header.html' %}

{% block body %}

<form action={{url_for('upload')}} method="post" enctype="multipart/form-data" class="file_form">
    {{ form.csrf_token }}
    <input  type="file" name="pic" />
    <input  type="submit" value="Upload a file"/>
</form>
<br>

<table>
    <tr>
        <td class="side">
            <form method="post">
                {{ form.csrf_token }}
                <b>{{ form.name.label }}:</b> {{ form.name(size=20) }}<br>
                <b>{{ form.text.label }}:</b> {{ form.text }}<br>
                {{ form.submit }}<br><br>
            </form>
            {% for comment in home_feed %}
            <div class="myDIV">
                <b>{{ comment.author }}:</b> {{ comment.text }} <br>
                <div class="hidden">
                    <form method="get">
                        <a href="/delete-comment/{{comment.id}}">Delete</a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </td>

        <td>

            <video class="video_class" controls>
                <source src="{{ url_for('static', filename='Breck 2020 Sick Edit Bro.mp4') }}" type="video/mp4">
                Your browser does not support HTML video.
            </video> <br> <br>

            {# sizing using percentages and Styles #}
            <img  src="{{ url_for('static', filename='IMG_1244.JPG') }}" alt="The bros" class="picture_class"> <br><br>

            {# adding another picture #}
            <img  src="{{ url_for('static', filename='Screenshot (4).png') }}" alt="Nathan and Zack, Breck" class="picture_class">
        </td>

         <td class="side">
            and then the spotify API here
        </td>
    </tr>
</table>
{% endblock %}