{% extends 'header.html' %}

{% block body %}

<form action={{url_for('upload')}} method="post" enctype="multipart/form-data" class="file_form">
    {{ form.csrf_token }}
    <input  type="file" name="pic" />
    <input  type="submit" value="Upload a file"/>
</form>
<br>

<table>
    <tr>
        <td class="side">
            <form method="post">
                {{ form.csrf_token }}
                <b>{{ form.name.label }}:</b> {{ form.name(size=20) }}<br>
                <b>{{ form.text.label }}:</b> {{ form.text }}<br>
                {{ form.submit }}<br><br>
            </form>
            {% for comment in home_feed %}
            <div class="myDIV">
                <b>{{ comment.author }}:</b> {{ comment.text }} <br>
                <div class="hidden">
                    <form method="get">
                        <a href="/delete-comment/{{comment.id}}">Delete</a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </td>
        <td>
            <br>
            {% for img in images %}
            <div class="picture_class">
                <img src="http://localhost:5000/image/{{img.id}}" alt={{img.file_name}} class="picture_class">
                <b>{{img.file_name}}</b>
            </div>
            <br>
            {% endfor %}
        </td>

    </tr>
</table>
{% endblock %}