<!DOCTYPE html>
<html lang="en">
<style>
    table, th,td{
        border: 3px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    h1{
        background-color: thistle;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>
        <tr>
            <th>Left Column</th>
            <th>Center</th>
            <th>Right Column</th>
        </tr>
        <tr>
            <td>So theres going to be everything we think goes on the left in here</td>
            <td>And then everything we think goes in the center will go here</td>
            <td>And then, again, everything we want to go on the left is over here</td>
            <td>And then, I'm just going to make a fourth column to test out Git.</td>
        </tr>
    </table>
    <h1>Sup yo</h1>
    <p>This is a paragraph.</p>
</body>
</html>